/*FONTS*/

@import url('https://fonts.googleapis.com/css?family=Cantarell:400,400i');

/*UNIVERSALS*/

a {
	text-decoration: none;
	color: #fff;
}

.bottom-line {
	border-bottom: 2px solid #a3a3a3;
}

.bottom-buffer {
	padding-bottom: 16px;
}

.black-text {
	color: #000;
}

.white-text {
	color: #fff;
}

.small-line {
	line-height: 75%;
}

body {
	background-color: #ADCBED;
}

.white-background {
	background-color: #fff;
}

/*HEADER*/

header {
	background-image: url("../img/wood.jpg");
	/*background-color: #ADCBED;*/
	background-size: cover;
	background-position: center;
}

#header-logo {
	height: 120px;
	margin: 15px 0 15px 15px;
	background-color: rgba(255, 255, 255, .5);
}

#brian-quote {
	height: 100px;
	font-size: 14px;
	margin: 15px;
	font-family: 'Cantarell', sans-serif;
	font-style: italic;
	color: #000;
	background-color: rgba(255, 255, 255, .5);
}

/*NAVBAR*/

nav {
	background-color: #1C4587;
}

/*JUMBOTRON*/

.jumbotron {
  height: 450px;
  background-image: url("../img/hero-img.jpg");
  background-size: cover;
  background-position: left;
  border-bottom: solid 4px #1C4587;
}

/*MAIN CONTENT*/

#profile-img {
	padding: 8px 0 0 8px;
}

#info {
	font-size: 16px;
	font-family: 'Cantarell', sans-serif;
}

#intro-p {
	font-size: 16px;
	font-family: 'Cantarell', sans-serif;
	padding: 16px;
	border-left: 1px solid #a3a3a3;
}

@media screen and (max-width: 450px) {
	#intro-p {
		border-left: none;
		border-top: 1px solid #a3a3a3;
	}
}

/*FOOTER*/

footer {
	height: 120px;
	background-color: #1C4587;
	margin-top: 30px;
}

footer img {
	height: 30px;
	float: right;
}


.fa {
	padding: 15px;
	color: #fff;
}
